$left-side-bar-width: 64px;

.left-side-nav-bar {
  width: 64px;
  height: 100vh;
  background-color: #12344d;
  padding: 16px 12px;
  position: fixed;
  top: 0;
  left: 0;

  .link__item {
    height: 40px;
    width: 40px;
    display: inline-block;
  }

  a {
    margin-bottom: 16px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
    }
    &:active {
      background-color: white;
    }
  }
  svg {
    width: 100%;
    height: 30px;
    fill: white;
  }
}
.top-nav-bar {
  height: 64px;
  width: calc(100% - #{$left-side-bar-width});
  margin-bottom: 68px;
  position: fixed;
  left: 64px;
  right: 0;
  .nav-right-icons {
    padding: 16px 8px;
    position: absolute;
    right: 8px;

    svg {
      width: 28px;
      height: auto;
      border-radius: 50%;
    }
  }
  .border-line {
    border: 0.5px solid grey;
    position: absolute;
    top: 64px;
    width: 100%;
  }
}
.status-page-url-title {
  position: fixed;
  left: 96px;
  top: 86px;
  font-size: 16px;
  font-weight: 600;
  color: #12344D;
  font-family: SF Pro Text;
}
.status-page-url-container {
  position: fixed;
  left: 96px;
  top: 114px;
  width: calc(100% - #{122px});
  height: 96px;
  background-color: #DFF0FF;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  .status-info-section {
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
    .page-heading {
      margin-bottom: 4px;
    }
    .page-url {
      text-decoration: none;
    }
  }

}
.enhance-status-page {
  position: fixed;
  left: 96px;
  top: 242px;
  font-size: 16px;
  font-weight: 600;
  color: #12344D;
  font-family: SF Pro Text;
}
.config-card-container {
  position: fixed;
  display: flex;
  left: 96px;
  top: 280px;
  color: #12344D;
  font-family: SF Pro Text;
  .card {
    width: 470px;
    height: 170px;
    border: 1.5px solid #EBEFF3;
    border-radius: 4px;
    margin-right: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    .card-image {
      width: 208px;
      background-color: #EBEFF3;
      padding: 36px 54px;
    }
    .card-info {
      padding: 26px 14px 26px 24px;
      .configure-service {
        margin-bottom: 12px;
      }
      .customise-service {
        color: #475867;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
}