  <div class="card">
    <div class="card-image">
      {{svg-jar "service-card" class="status-icon-section"}}
    </div>
    <div class="card-info">
      <div class="configure-service">Configure services</div>
      <span class="customise-service">Effortlessly manage and customize your services to ensure accurate representation on the status page.</span>
    </div>
  </div>